<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travelagency.mapper.AdditionalItemMapper">

    <insert id="insertAdditionalItem" useGeneratedKeys="true" keyColumn="id" keyProperty="item.id">
        insert into additional_items (
        item_name
        ,price_per_seat)
        values (
        #{item.itemName}
        ,#{item.pricePerSeat}
        )
    </insert>

</mapper>