<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelagency.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true"  keyColumn="id" keyProperty="user.id">
        insert into users (
        user_name
        ,first_name
        ,last_name
        ,password
        ,role
        ) values (
        #{user.userName}
        ,#{user.firstName}
        ,#{user.lastName}
        ,#{user.password}
        ,#{user.role}
        )
    </insert>

    <select id="selectUser" resultType="com.example.travelagency.auth.mapper.model.User">
        select
          c.id
          ,c.user_name
          ,c.first_name
          ,c.last_name
          ,c.password
          ,c.role
          ,c.token
          from users c where c.user_name = #{userName}
    </select>
</mapper>