<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="https://angular/io" class="navbar-brand">
    <!--<img src="assets/imgs/angular.png" width="30" height="30" class="d-inline-block align-top"/>-->
    <!--Angular-->
  </a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="create" class="nav-link" >Wycieczki</a>
    </li>
    <li class="nav-item">
      <a href="travel" class="nav-link">Dodatki</a>
    </li>
  </div>
</nav>
<router-outlet></router-outlet>
